<div class="media text-muted pt-3 row post-box">
    {% set initials = post.user.fullName|split(' ') %}
    <div class="col-1 p-0">
        <img alt="" class="mr-2 rounded" height="50" width="50" src="/images/cat.jpg">
    </div>
    <div class="col-1 p-0 text-center post-letters">
        <span>{{ attribute(initials, 0)|first }}{{ attribute(initials, 1)|first }}</span>
    </div>
    <div class="col-10 border-bottom border-gray">
        <span class="d-block">
            <a href="{{ path('micro_post_user', {'username': post.user.username}) }}">
                <strong class="text-gray-dark">@{{ post.user.username }}</strong>
            </a>
            <small>{{ post.time|date('d/m/Y') }}</small>
        </span>
        <h6>
            <a href="{{ path('micro_post_post', {'id': post.id}) }}">
                {{ post.title }}
            </a>
        </h6>
    </div>
</div>