{% extends 'base.html.twig' %}

{% block body %}
    <div class="card">
        {% if notifications|length %}
        <div class="card-body">
            <h5>Unread notifications</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a class="btn btn-block btn-link btn-secondary text-white"
                href="{{ path('notification_acknowledge_all') }}">
                    READ ALL
                </a>
            </li>
            {% for notification in notifications %}
                <li class="list-group-item">
                    <a href="{{ path('notification_acknowledge', {'id': notification.id}) }}"
                       class="btn btn-primary float-right">
                        seen
                    </a>
                    {% if notification is like %}
                        <a href="{{ path('micro_post_user', {'username': notification.likedBy.username}) }}">
                            {{ notification.likedBy.username }}
                        </a>
                        likes your post:
                        <a href="{{ path('micro_post_post', {'id': notification.post.id}) }}">
                            {{ notification.post.text }}
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <div class="card-body">
                You have no notifications!!
            </div>
        {% endif %}
    </div>
{% endblock %}